{% extends "base.html" %}

{% block titulo %} Listado de Clientes {% endblock%}

{% block contenido %}
<br>
<br>

<div class="card">
    <div class="card-header">
        <a class="btn btn-primary" href="{% url 'crear'%}" role="button">Agregar Cliente</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Clientes</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Dni</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Nacionanlidad</th>

                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{cliente.id}}</td>
                    <td>{{cliente.dni}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido}}</td>
                    <td>{{cliente.nacionalidad}}</td>


                    <td>
                        <a name="" id="" class="btn btn-primary" href="{% url 'editar' cliente.id%}"
                            role="button">Editar</a> |
                        <a name="" id="" class="btn btn-primary" href="{% url 'eliminar' cliente.id %}"
                            role="button">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="card-footer text-muted">
        Administrador: edwin@salazar.tv
    </div>
</div>

{% endblock%}